* {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

.background {
  background-image: url(./images/bg-main-mobile.png);
  height: 37vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

form {
  display: flex; /* make entire form relative to color above it*/
  flex-direction: column;
  padding: 25px;
  padding-top: 100px; /*form will be same in desktop */
  /* visibility: visible; */
}

button {
  font-family: inherit;
  font-size: 18px;
  background-color: hsl(278, 68%, 11%);
  border: 1px solid hsl(278, 68%, 11%);
  color: white;
  border-radius: 10px;
  width: 100%;
  padding: 17px;
  margin: 20px 0;
}

.card-front {
  background-image: url(./images/bg-card-front.png);
  position: relative;
  width: 285px;
  height: 156px;
  border-radius: 10px;
  left: 3%;
  top: 54%;
  background-size: contain;
  z-index: 3;
}

.card-back {
  background-image: url(./images/bg-card-back.png);
  position: relative;
  width: 285px;
  height: 156px;
  border-radius: 10px;
  left: 21%;
  bottom: 21%; /* was originally 55% */
  background-size: contain;
}

.card-front-img {
  z-index: 3; /* put .card-front above .card-back and .background */
  width: 285px; /* LEAVE THIS */
  position: absolute; /* do not use flexbox for card items */
  top: 120px;
  left: 15px;
}

.card-back-img {
  width: 285px; /* LEAVE THIS */
  z-index: 2; /* put .card-back above .background */
  position: absolute;
  top: 30px;
  right: 7%;
}

/* correctly filled out */
input:focus,
textarea:focus {
  border: 1px solid hsl(249, 99%, 64%);
  box-shadow: 0 0 3px hsl(249, 99%, 64%);
  -moz-box-shadow: 0 0 3px hsl(249, 99%, 64%);
  -webkit-box-shadow: 0 0 3px hsl(249, 99%, 64%);
}

input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px;
  outline: none;
}

.error-border {
  border: 1px solid red;
}

label {
  color: hsl(278, 68%, 11%);
  font-size: 12px; /* 11 or 12 ???? */
  letter-spacing: 0.12rem;
}

*::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: lightgray;
}

input {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 15px;
  margin: 8px 0 15px 0;
}

small {
  color: hsl(0, 100%, 66%); /* LEAVE AS IS */
  visibility: hidden;
  position: absolute; /* LEAVE AS IS */
  margin-top: 60px; /* LEAVE AS IS */
}

.full-name,
.card-number {
  width: 100%;
}

.exp-date {
  display: flex;
  flex-direction: column; /* DONT CHANGE THS */
  width: 325px;
}

.exp-date-blank {
  width: 60px;
}

.cvc {
  display: flex;
  flex-direction: column;
}

.exp-date-cvc-container {
  display: flex;
  flex-direction: row;
  /* align-content: start; */
  /* justify-content: space-between; */
}

.mmyy-blanks {
  display: flex;
  justify-content: space-between;
}

.card-front-container {
  color: white;
  z-index: 4;
  position: relative; /* LEAVE THIS HERE */
  left: 10%;
}

.fake-card-number {
  position: absolute; /* LEAVE THIS HERE */
  top: 55%; /* LEAVE THIS HERE */
  left: 7%;
  letter-spacing: 0.2em; /* LEAVE THIS HERE */
  z-index: 4;
  color: white;
}

.fake-card-name {
  position: absolute;
  font-size: 11px; /* LEAVE THIS HERE */
  top: 80%;
  left: 7%;
  color: white;
  z-index: 4;
  letter-spacing: 0.2em;
}

.fake-expiration {
  position: absolute;
  font-size: 11px; /* LEAVE THIS HERE */
  right: 11%;
  top: 80%;
  z-index: 4;
  color: white;
}

.example-cvc {
  position: absolute;
  font-size: 12px; /* LEAVE THIS HERE */
  letter-spacing: 0.2em;
  right: 15%;
  bottom: 45%;
  z-index: 4;
  color: white;
}

.confirmation-message {
  display: none;
  margin: 23% auto;
  margin-top: 500px;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .background {
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: 150%;
    height: 100vh;
    width: 33%;
  }

  body {
    display: flex;
    flex-direction: row;
  }

  form {
    padding: 230px;
  }

  .background .card-front {
    position: relative;
    width: 285px;
    height: 156px;
    background-repeat: no-repeat; /* leave this */
    left: 30%;
    top: 25%;
    z-index: 3;
  }

  .background .card-back {
    background-image: url(./images/bg-card-back.png);
    left: 50%;
    top: 30%;
    background-repeat: no-repeat; /* leave this */
  }

  .confirmation-message {
    width: 30%;
  }
}
