* {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

.background {
  background-image: url(./images/bg-main-mobile.png);
  height: 33vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

form {
  display: flex; /* make entire form relative to color above it*/
  flex-direction: column;
  padding: 25px;
  padding-top: 115px;
}

button {
  font-family: inherit;
  font-size: 18px;
  background-color: hsl(278, 68%, 11%);
  border: 1px solid hsl(278, 68%, 11%);
  color: white;
  border-radius: 10px;
  width: 100%;
  padding: 17px;
  margin: 10px 0;
}

.card-front {
  position: relative;
}

.card-back {
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 33vh;
  z-index: 1;
  position: relative;
  /* Create a relative div that is placed in the flow of the page; place the base image first as relative so that the div knows how big it should be; place the overlays as absolutes relative to the upper left of the first image. The trick is to get the relatives and absolutes correct.*/
  top: 0;
  left: 0;
  /* z-index: auto; */
}

.card-front-img {
  z-index: 3; /* put .card-front above .card-back and .background */
  width: 285px; /* LEAVE THIS */
  position: absolute; /* do not use flexbox for card items */
  top: 120px;
  left: 15px;
}

.card-back-img {
  width: 285px; /* LEAVE THIS */
  z-index: 2; /* put .card-back above .background */
  position: absolute;
  top: 30px;
  right: 7%;
}

label {
  color: hsl(278, 68%, 11%);
  font-size: 12px; /* 11 or 12 ???? */
  letter-spacing: 0.12rem;
}

*::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: lightgray;
}

input {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 15px;
  margin: 8px 0 15px 0;
}

.full-name,
.card-number {
  width: 100%;
}

.exp-date {
  display: flex;
  flex-direction: column; /* DONT CHANGE THS */
  width: 325px;
}

.exp-date-blank {
  width: 60px;
}

.cvc {
  display: flex;
  flex-direction: column;
}

.exp-date-cvc-container {
  display: flex;
  flex-direction: row;
  /* align-content: start; */
  /* justify-content: space-between; */
}

.mmyy-blanks {
  display: flex;
  justify-content: space-between;
}

.card-front-container {
  color: white;
  z-index: 4;
  position: relative; /* LEAVE THIS HERE */
  left: 10%;
}

.fake-card-number {
  position: absolute; /* LEAVE THIS HERE */
  top: 35%; /* LEAVE THIS HERE */
  left: 7%;
  letter-spacing: 0.2em; /* LEAVE THIS HERE */
  z-index: 4;
  color: white;
}

.fake-card-name {
  position: absolute;
  font-size: 11px; /* LEAVE THIS HERE */
  top: 41%;
  left: 7%;
  color: white;
  z-index: 4;
}

.fake-expiration {
  position: absolute;
  font-size: 11px; /* LEAVE THIS HERE */
  right: 40%;
  top: 41%;
  z-index: 4;
  color: white;
}

.fake-cvc {
  position: absolute;
  font-size: 12px; /* LEAVE THIS HERE */
  letter-spacing: 0.2em;
  right: 15%;
  bottom: 40%;
  z-index: 4;
  color: white;
}
